/ExternalLibrary/bin
/ExternalLibrary/obj
*/.vs/
/UnityProject/Library
/UnityProject/Temp
/UnityProject/Assets/UnityVS
/UnityProject/Assets/UnityVS.meta
/UnityProject/Assets/ExternalLibrary.*
/UnityProject/*.csproj
/UnityProject/*.sln
/UnityProject/*.user